src/CSharpTestBedAdapter/CSharpTestBedAdapter-settings.xsd

<?xml version="1.0" encoding="Windows-1252"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="settings">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="client.id" type="xs:string" />
        <xs:element name="heartbeat.interval" type="xs:unsignedShort" />
		<xs:element name="security.protocol" type="xs:string" />
        <xs:element name="security.certificate.path" type="xs:string" />
        <xs:element name="security.keystore.path" type="xs:string" />
        <xs:element name="security.keystore.password" type="xs:string" />
        <xs:element name="broker.url" type="xs:string" />
        <xs:element name="schema.url" type="xs:string" />
        <xs:element name="send.sync" type="xs:boolean" />
        <xs:element name="retry.count" type="xs:unsignedByte" />
        <xs:element name="retry.time" type="xs:unsignedShort" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>